{% extends "base.html" %}
{% block head %}
{% include "partials/katex.html" %}
<style>
body > #content h2 {
  margin-top: 1em;
  /* border-top: 2px solid #000; */
  padding: 4px 0;
  border-bottom: 1.5px solid #000;
}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pygments-css@1.0.0/github.css" integrity="sha256-63+ycHutvQKL4YAIsEEXm1MLug7+FbK/ZB1ufUWFfoc=" crossorigin="anonymous">
{% endblock %}

{% block main %}

{% include "partials/nav.html" %}

<article class="note">
<h1 class="title">{{ page.title }}</h1>
{{ page.content }}

{%- if page.meta.list_children %}
{% include "partials/list.html" %}
{%- endif %} 
</article>
{% endblock %}