{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ 'res/style.profile.css' | url}}?t={% now 'utc', '%Y%m%d%H%M%S' %}" />
{% endblock %}

{% block main %}

<div class="outer" style="padding-block-end: 1em; padding-block-start: 20px">
<div id="front" class="rounded">
<img src="res/profile-thumb.jpg" class="rounded" alt="Profile picture" width="100">
<div class="name">Chenxing Luo</div>
<div class="description">PhD student in the Applied Physics & Applied Mathematics Department</div>
<div class="link">[ <a href="https://orcid.org/0000-0003-4116-6851">ORCiD</a>
	| <a href="https://github.com/chazeon">GitHub</a>
	| <a href="https://scholar.google.com/citations?user=iMefCXUAAAAJ">Google Scholar</a>
	| <a href="https://www.linkedin.com/in/chenxing-luo/">LinkedIn</a>
	| <a href="http://www.mineralscloud.com/people">Group</a>
	| <a href="mailto:cl3658@columbia.edu">Email</a>
	| <a href="https://notes.chazeon.com/notes/">Notes</a>
	]</div>
</div>
</div>
    

<article id="content">
{{ page.content }}
</article>
{% endblock %}