<style>
  #breadcrumbs {
    font-size: 0.75em;
    display: inline;
    color: #444
  }

  #breadcrumbs span {
    margin: 0 1px;
  }

  #breadcrumbs span > a,
  #breadcrumbs span > a:hover,
  #breadcrumbs span > a:visited {
    border-bottom: none;
  }
</style>
<div role="navigation" aria-label="breadcrumbs navigation" id="breadcrumbs">
      <span><a href="{{ nav.homepage.url|url }}" class="icon icon-home" alt="{% trans %}Home{% endtrans %}">Home</a> / </span>
      {%- if page %}
        {%- for _page in (page.ancestors[::-1] if not page.is_index else page.ancestors[1:][::-1])%}
          {%- if _page.link %}
          <span><a href="{{ _page.link | e }}">{{ _page.title }}</a> /</span>
          {%- else %}
          <span><a href="{{ _page.children[0].url | url }}">{{ _page.children[0].title }}</a> / </span>
          {%- endif %}
        {%- endfor %}
      {%- endif %}
      {%- if page %}<span>{{ page.title }}</span>{%- endif %}
  </div>